.chemiscope-streamlit-warning {
    display: none;
    flex-wrap: wrap;
    border: 1px solid #f0ad4e;
    background-color: #fcf8e3;
    color: #8a6d3b;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;

    button {
        position: relative;
        float: right;
        font-size: 3em;
        line-height: 1;
        color: inherit;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

    p {
        flex: 1;
    }
}

.chemiscope-streamlit-spinner {
    /* Simple loading indicator */
    position: fixed; /* or fixed/sticky depending on where you place it in HTML */
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
