#chemiscope-root {
    height: 100%;
    display: flex;
}

.chemiscope-streamlit {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.visualizer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.visualizer-column,
.visualizer-column-right {
    flex: 1 1 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.visualizer-item {
    flex: 1;
    width: 100%;
    height: 100%;
}

.visualizer-info {
    flex-shrink: 0;
}

.visualizer-map-mode .visualizer-column,
.visualizer-structure-mode .visualizer-column {
    width: 100%;
    flex: 1 1 100%;
}

.chemiscope-hidden-item {
    display: none !important;
}

.chemiscope-absolute-loading {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chemiscope-absolute-loading p {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.chemiscope-absolute-warning {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: orange;
    padding: 5px;
    color: white;
    z-index: 15;
    display: flex;
}

.chemiscope-absolute-warning p {
    margin: 0;
}

.chemiscope-streamlit-warning {
    display: none;
    flex-wrap: wrap;
    border: 1px solid #f0ad4e;
    background-color: #fcf8e3;
    color: #8a6d3b;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;

    button {
        position: relative;
        float: right;
        font-size: 3em;
        line-height: 1;
        color: inherit;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

    p {
        flex: 1;
    }
}

.chemiscope-streamlit-spinner {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
