html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    background-color: #2c3e50;
    color: white;
    font-size: 0.8rem;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}

header {
    background-color: #2c3e50;
    width: 100%;
    height: 60px;
}

.navbar {
    margin-bottom: 1em;
    z-index: 999;
    background-color: inherit;
}

.references a {
    color: grey;
}

#loading {
    font-size: 6em;
    margin: auto;
    text-align: center;
    color: grey;
    position: absolute;
    z-index: 100000;
    left: 50%;
}

main.container-fluid {
    margin: 1.5em 0em calc(1.5em + 60px) 0em;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    main.container-fluid {
        margin: 2em 2em calc(2em + 60px) 2em;
        width: calc(100% - 4em);
    }
}

@media screen and (min-width: 1500px) {
    main.container-fluid {
        margin: 2em auto calc(2em + 60px) auto;
        width: 1500px;
    }
}

main .embed-responsive {
    margin: auto;
}

main .embed-responsive-item {
    display: flex;
    flex-flow: column;
}

.embed-responsive-5by7::before {
    padding-top: 140%;
}

@media screen and (min-width: 768px) {
    .embed-responsive-5by7 {
        max-height: calc(100vh - 4em - 120px);
    }

    main .embed-responsive {
        /* set the width to fit the vertical space, and the height will be set automatically */
        max-width: calc(100vh - 4em - 120px);
    }
}

.clickable {
    cursor: pointer;
}

#chemiscope-meta {
    position: absolute;
    top: 0;
    left: 2em;
    font-size: 16pt;
}

#chemiscope-map {
    display: block;
}

#chemiscope-structure {
    flex: 1 1 auto;
}

#chemiscope-info {
    flex: 0 1 auto;
    width: 100%;
}

#upload {
    width: 280px;
}

#open-save-menu {
    background-color: #e2e6ea;
    border-color: #ced4da;
}

#open-save-menu:hover {
    background-color: #f8f9fa;
}

.grid-1-1 {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: start;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.grid-1-1-1 {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: start;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.width-10em {
    width: 10em;
}

.btn-outline-secondary-less-hover:hover {
    color: inherit;
    background-color: #f2f2f2;
}

.hidden-input-file {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
