html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #2c3e50;
    color: white;
    font-size: 0.8rem;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}

header {
    background-color: #2c3e50;
    width: 100%;
    height: 60px;
}

.navbar {
    margin-bottom: 1em;
}

.references a {
    color: grey;
}

#loading {
    font-size: 6em;
    margin: auto;
    text-align: center;
    color: grey;
}

main.container-fluid {
    margin: 1.5em 0em calc(1.5em + 60px) 0em;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    main.container-fluid {
        margin: 2em 2em calc(2em + 60px) 2em;
        width: calc(100% - 4em);
    }
}

@media screen and (min-width: 1500px) {
    main.container-fluid {
        margin: 2em auto calc(2em + 60px) auto;
        width: 1500px;
    }
}

main .embed-responsive {
    margin: auto;
}

main .embed-responsive-item {
    display: flex;
    flex-flow: column;
}

.embed-responsive-5by7::before {
    padding-top: 200%;
}

@media screen and (min-width: 768px) {
    .embed-responsive-5by7 {
        max-height: calc(100vh - 4em - 120px);
    }

    main .embed-responsive {
        /* set the width to fit the vertical space, and the height will be set automatically */
        max-width: calc(100vh - 4em - 120px);
    }

}

#chemiscope-map {
    display: block;
}

#chemiscope-structure {
    flex: 1 1 auto;
}

#chemiscope-info {
    flex: 0 1 auto;
    width: 100%;
}
