html {
    font-size: unset;
}

.chemiscope-viewer-two-col {
    display: grid;
    grid-template-columns: 59% 39%;
    grid-template-rows: 480px;
    grid-column-gap: 0px;
    justify-items: center;
    overflow: hidden;
}

.chemiscope-viewer-one-col {
    margin: auto;
    max-width: 500px;
    height: 550px;
}

.chemiscope-meta-and-map {
    width: 100%;
    height: 100%;
    display: block;
}

.chemiscope-structure-and-info {
    width: 100%;
    height: 100%;
}

.chemiscope-meta {
    position: absolute;
    margin-top: 8px;
    font-size: 16pt;
    z-index: 100;
    top: initial;
}

.chemiscope-viewer-one-col .chemiscope-meta {
    /* Dynamic positioning if the single column is filling up it's alloted 500px */
    left: calc(50% - 200px);
}

@media screen and (max-width: 780px) {
    /* Static positioning if the single column is NOT filling up it's alloted 500px */
    .chemiscope-viewer-one-col .chemiscope-meta {
        left: 100px;
    }
}

.chemiscope-viewer-two-col .chemiscope-meta {
    left: 2em;
}

.chemiscope-map {
    display: block;
}

.chemiscope-viewer-one-col .chemiscope-map {
    /* Tweak the height to ensure the two buttons/info panels are visible */
    height: 90%;
}

.chemiscope-structure {
    height: 100%;
    width: 100%;
    display: block;
    flex: 1 1 auto;
}

.chemiscope-viewer-two-col .chemiscope-structure {
    /* Tweak the height to ensure the two buttons/info panels and the two sliders are visible */
    height: 75%;
}

.chemiscope-viewer-one-col .chemiscope-structure {
    /* Tweak the height to ensure the two buttons/info panels and the two sliders are visible */
    height: 80%;
}

.chemiscope-info {
    width: 100%;
    display: block;
}

/* hide the slider when showing the map only (no need for navigation)
  uses part() to access styling within the shadow DOM */
.chemiscope-meta-and-map .chemiscope-info *::part(chsp-slider)  {
    display: none;
}
