html {
    font-size: unset;
}

.chemiscope-meta-and-map {
    width: 100%;
    height: 100%;
}

.chemiscope-structure-and-info {
    width: 100%;
    height: 100%;
}

.chemiscope-meta {
    position: absolute;
    top: 0;
    left: 2em;
    font-size: 16pt;
}

.chemiscope-map {
    display: block;
}

.chemiscope-structure {
    height: 100%;
    width: 100%;
    display: block;
    flex: 1 1 auto;
}

.chemiscope-info {
    flex: 0 1 auto;
    width: 100%;
    display: block;
}

.chemiscope-widget-two-col .chemiscope-structure {
    height: 84%;
}

.chemiscope-widget-one-col .chemiscope-structure {
    height: 90%;
}

.chemiscope-meta {
    top: initial !important;
}

.chemiscope-widget-two-col {
    display: grid;
    grid-template-columns: 59% 39%;
    grid-template-rows: 450px;
    grid-column-gap: 0px;
    justify-items: center;
    overflow: hidden;
}

.chemiscope-widget-one-col {
    margin: auto;
    max-width: 500px;
    height: 500px;
}
