[build-system]
requires = [
    "setuptools",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.tox]
legacy_tox_ini = """
[tox]

[testenv]
deps =
    ase

commands =
    python -m unittest discover -p "*.py" -s tests
"""
