.chsp-selected {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border: solid thin black;
    border-radius: 10px;
    z-index: 100;
    top: 0;
    left: 0;
}

.chsp-open-map-settings {
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 10;
}

.chsp-open-viewer-settings {
    position: absolute;
    top: 5px;
    right: 5px;
    /* Place on top of jsmol applet */
    z-index: 10;
}

.chsp-map-options {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: start;
    grid-gap: 1em;
}

.chsp-map-options label {
    min-width: 5em;
}

.chsp-map-extra-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 1.5em;
}

.chsp-map-extra-options label {
    min-width: auto;
}

.chsp-map-extra-options {
    grid-column: 1 / span 2;
}

.chsp-map-extra-options {
    grid-column: 1 / span 2;
}

.chsp-map-extra-options-open {
    margin: auto;
    display: block;
}

.chsp-map-options .form-check-label {
    width: auto;
}

.chsp-modal-header {
    cursor: grab;
}

.chsp-hamburger div {
    width: 1.1em;
    height: 0.4ex;
    background-color: black;
    margin: 0.4ex 0;
}

.chsp-play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    height: 1.2em;
    width: 1.2em;
    margin-left: 0.5ex;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 0.7em 0 0.7em 1em;
}

.chsp-play-button.chsp-playing {
    border-style: double;
    border-width: 0px 0 0px 1.2em;
}

.chsp-play-button:hover {
    border-color: transparent transparent transparent #404040;
}

.chsp-properties-table {
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    min-width: 400px;
}

.chsp-properties-table td {
    width: 50%;
}

.chsp-settings-section-title {
    font-weight: bold;
}

.modebar-group svg.icon {
    width: 1.5em !important;
    height: 1.5em !important;
}

.chsp-info {
    display: flex;
    position: relative;
    margin-bottom: 1ex;
    justify-content: center;
}

.chsp-info-structure-btn {
    margin-right: 1em;
    min-width: 8em;
    font-weight: bold;
    font-size: small;
    background-color: none;
    border-color: #66a5e8;
    border-width: 2px;
}

.chsp-info-structure-btn:hover {
    background-color: #5b94d0;
}

.chsp-info-atom-btn {
    min-width: 8em;
    font-weight: bold;
    font-size: small;
    background-color: none;
    border-color: #4cb64c;
    border-width: 2px;
}

.chsp-info-atom-btn:hover {
    background-color: #44a344;
}

.chsp-info-number {
    -moz-appearance:textfield;
    border: none;
    transition: background-color .15s;
    background-color: #ebedf0;
    padding-left: 2px;
    padding-right: 2px;
    font-family: inherit;
    width: 4em;
}

.chsp-info-atom-btn:hover .chsp-info-number {
    background-color: #69b569;
}

.chsp-info-structure-btn:hover .chsp-info-number {
    background-color: #7ba9d9;
}

.chsp-info-number::-webkit-outer-spin-button,
.chsp-info-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Change the atoms slider thumb color to green, to match jsmol highlight */
.chsp-atom-slider::-webkit-slider-thumb {
    background-color: #008000;
}

.chsp-atom-slider::-moz-range-thumb {
    background-color: #008000;
}

.chsp-atom-slider::-ms-thumb {
    background-color: #008000;
}

.chsp-atom-slider::-webkit-slider-thumb:active {
    background-color: #99cc99;
}

.chsp-atom-slider::-moz-range-thumb:active {
    background-color: #99cc99;
}

.chsp-atom-slider::-ms-thumb:active {
    background-color: #99cc99;
}

.chsp-atom-slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

.chsp-atom-slider:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

.chsp-atom-slider:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

.chsp-settings-representation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1ex;
}

.chsp-settings-representation label {
    cursor: help;
}

.chsp-settings-supercell {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.chsp-supercell-count {
    max-width: 3.5em;
}

.chsp-settings-camera {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(7, auto);
    justify-content: center;
}

.chsp-settings-environments {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.chsp-settings-trajectory {
    display: grid;
    grid-template-columns: 12em 12em;
    justify-content: center;
    align-content: center;
    grid-gap: 1em;
    margin-bottom: 1ex;
}

.chsp-cell-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    /* Place on top of jsmol applet */
    z-index: 10;
    font-size: 0.8em;
}
