.skv-open-settings {
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 10;
}

.skv-options {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: start;
    grid-gap: 1em;
}

.skv-options label {
    min-width: 5em;
}

.skv-input-extra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 1.5em;
}

.skv-input-extra label {
    min-width: auto;
}

.skv-extra-options {
    grid-column: 1 / span 2;
}

.skv-extra-options-open {
    margin: auto;
    display: block;
}

.skv-options .form-check-label {
    width: auto;
}

.skv-modal-header {
    cursor: grab;
}

.skv-hamburger div {
    width: 1.1em;
    height: 0.4ex;
    background-color: black;
    margin: 0.4ex 0;
}

.skv-play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    height: 1.2em;
    width: 1.2em;
    margin-left: 0.5ex;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 0.7em 0 0.7em 1em;
}

.skv-play-button.skv-playing {
    border-style: double;
    border-width: 0px 0 0px 1.2em;
}

.skv-play-button:hover {
    border-color: transparent transparent transparent #404040;
}

.skv-properties {
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    min-width: 400px;
}

.skv-properties td {
    width: 50%;
}

.skv-settings-section-title {
    font-weight: bold;
}

.modebar-group svg.icon {
    width: 1.5em !important;
    height: 1.5em !important;
}

.skv-info {
    display: flex;
    position: relative;
    margin-bottom: 1ex;
    justify-content: center;
}

.skv-trajectory-settings-btn {
    position: absolute;
    top: -3px;
    right: 5px;
}

.skv-trajectory-settings {
    display: grid;
    grid-template-columns: 8em 8em;
    justify-content: center;
    align-content: center;
    grid-gap: 1em;
    margin-bottom: 1ex;
}

.skv-keep-orientation {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    color: #33383c;
    background-color: #e9ecef;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.skv-info-structure-btn {
    margin-right: 1em;
    min-width: 8em;
    font-weight: bold;
    font-size: small;
    background-color: none;
    border-color: #66a5e8;
    border-width: 2px;
}

.skv-info-structure-btn:hover {
    background-color: #5b94d0;
}

.skv-info-atom-btn {
    /* margin: auto; */
    min-width: 8em;
    font-weight: bold;
    font-size: small;
    background-color: none;
    border-color: #4cb64c;
    border-width: 2px;
}

.skv-info-atom-btn:hover {
    background-color: #44a344;
}

/* Change the atoms slider thumb color to green, to match jsmol highlight */
.skv-atom-range::-webkit-slider-thumb {
    background-color: #008000;
}

.skv-atom-range::-moz-range-thumb {
    background-color: #008000;
}

.skv-atom-range::-ms-thumb {
    background-color: #008000;
}

.skv-atom-range::-webkit-slider-thumb:active {
    background-color: #99cc99;
}

.skv-atom-range::-moz-range-thumb:active {
    background-color: #99cc99;
}

.skv-atom-range::-ms-thumb:active {
    background-color: #99cc99;
}

.skv-atom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

.skv-atom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

.skv-atom-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}
