.skv-open-settings {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}

.skv-options {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: start;
    grid-gap: 1em;
}

.skv-options label {
    width: 7em;
}

.skv-modal-header {
    cursor: grab;
}

.skv-hamburger div {
    width: 1.1em;
    height: 0.4ex;
    background-color: black;
    margin: 0.4ex 0;
}

.skv-play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    height: 1.2em;
    width: 1.2em;
    margin-left: 0.5ex;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 0.7em 0 0.7em 1em;
}

.skv-play-button.skv-pause {
    border-style: double;
    border-width: 0px 0 0px 1.2em;
}

.skv-play-button:hover {
    border-color: transparent transparent transparent #404040;
}

.skv-properties {
    height: 100%;
    overflow-y: scroll;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    min-width: 400px;
}
