.skv-open-settings {
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 10;
}

.skv-options {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: start;
    grid-gap: 1em;
}

.skv-options label {
    min-width: 5em;
}

.skv-input-extra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 1.5em;
}

.skv-input-extra label {
    min-width: auto;
}

.skv-extra-options {
    grid-column: 1 / span 2;
}

.skv-extra-options-open {
    margin: auto;
    display: block;
}

.skv-options .form-check-label {
    width: auto;
}

.skv-modal-header {
    cursor: grab;
}

.skv-hamburger div {
    width: 1.1em;
    height: 0.4ex;
    background-color: black;
    margin: 0.4ex 0;
}

.skv-play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    height: 1.2em;
    width: 1.2em;
    margin-left: 0.5ex;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 0.7em 0 0.7em 1em;
}

.skv-play-button.skv-playing {
    border-style: double;
    border-width: 0px 0 0px 1.2em;
}

.skv-play-button:hover {
    border-color: transparent transparent transparent #404040;
}

.skv-slider-label {
    width: 5.5em;
}

.skv-properties {
    height: 100%;
    overflow-y: scroll;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    min-width: 400px;
}

.skv-properties td {
    width: 50%;
}

.skv-settings-section-title {
    font-weight: bold;
}

.modebar-group svg.icon {
    width: 1.5em !important;
    height: 1.5em !important;
}
