sphinx>=4
sphinx_rtd_theme   # sphinx theme
sphinx-argparse-cli
sphinx-gallery
furo

# required to be able to import chemiscope in the doc
numpy
ipywidgets
matplotlib
ase
# These three pins are to avoid rdkit version 2024.3.5. Once a later version
# is available, the latest version (assuming Python >= 3.11) of all three
# should be ok.
rdkit
stk
stko

# required for the examples of chemiscope.explore
mace-torch
scikit-learn
dscribe
