sphinx>=4
sphinx-bootstrap-theme
sphinx-argparse-cli
sphinx-gallery

# required to be able to import chemiscope in the doc
numpy
ipywidgets
matplotlib
ase==3.22.1
rdkit==2023.9.5
stk==2024.9.23.1
stko==2024.8.29.1

# required for the examples of chemiscope.explore
mace-torch
scikit-learn
