sphinx>=4
sphinx-bootstrap-theme
sphinx-argparse-cli
sphinx-gallery

# required to be able to import chemiscope in the doc
numpy
ipywidgets
matplotlib
ase==3.22.1

# Temporary add libs to showcase chemiscope.explore
scikit-learn
dscribe

# tqdm
# torch==2.0.1
# mace-torch==0.3.4
